* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#loginDiv {
    width: 200px;
    height: 300px;
    background: rgb(184, 222, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 30vh;
    left: 20vw;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 5px;
}

#loginDiv > input {
    width: 180px;
    height: 20px;
    border-radius: 5px;
    background: rgb(225, 223, 223);
}

::placeholder {
    color: rgb(114, 112, 112);
    text-align: center;
}

#loginDiv > button {
    width: 140px;
    height: 30px;
    border-radius: 8px;
}

#registerButton:active,
#loginButton:active {
    background: rgb(249, 161, 161);
}

#visibleDiv,
#hiddenDiv {
    width: 200px;
    height: 200px;
}

#visibleDiv {
    background: rgb(246, 151, 151);
    color: rgb(23, 18, 13);
}

#hiddenDiv {
    background: rgb(165, 165, 248);
    display: none;
    color: bisque;
}